<div class="footer">
  <div class="footer-left">
    <a routerLink="/aboutus">About Us</a>
    <a routerLink="/contactus">Contact Us</a>
  </div>
  <div class="footer-center">
    <p>&copy; Farm Connect. All rights reserved.</p>
  </div>
  <div class="footer-right">
    <a href="https://www.instagram.com" target="_blank">
      <img src="assets/insta.svg" alt="Instagram" class="social-icon" />
    </a>
    <a href="https://www.facebook.com" target="_blank">
      <img src="assets/fb.svg" alt="Facebook" class="social-icon" />
    </a>
    <a href="https://www.linkedin.com" target="_blank">
      <img src="assets/lin.svg" alt="LinkedIn" class="social-icon" />
    </a>
  </div>
</div>
