<div class="container">
  <p class="heading">Medicines</p>

  <div class="search-container">
    <input
      type="text"
      #search
      placeholder="Search..."
      (input)="searchChange(search.value)"
      class="form-control"
    />
    <select
      #sortField
      (change)="onSortFieldChange(sortField.value)"
      class="form-control styled-select"
    >
      <option value="">Sort By</option>
      <option value="medicineName">Medicine Name</option>
      <option value="brand">Brand</option>
      <option value="category">Category</option>
      <option value="description">Description</option>
      <option value="quantity">Quantity</option>
      <option value="unit">Unit</option>
      <option value="pricePerUnit">Price per Unit</option>
    </select>
  </div>

  <table
    *ngIf="medicines.length > 0"
    class="table table-striped table-bordered medicines-table"
  >
    <thead class="thead-dark">
      <tr>
        <th>S.No</th>
        <th>Medicine Name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Price per Unit</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of medicines; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ m.medicineName }}</td>
        <td>{{ m.brand }}</td>
        <td>{{ m.category }}</td>
        <td>{{ m.description }}</td>
        <td>{{ m.quantity }}</td>
        <td>{{ m.unit }}</td>
        <td>{{ m.pricePerUnit | currency : "INR" }}</td>
        <td>
          <button
            (click)="openRequestForm(m.medicineId!, m.medicineName)"
            class="request-button"
          >
            Request
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="medicines.length === 0" class="nothing">
    Oops! No Records Found
  </div>

  <div id="deleteModal" class="modal" [ngClass]="{ show: isDeleteModalOpen }">
    <div class="modal-content">
      <span class="close" (click)="closeDeleteModal()">&times;</span>
      <p>Do you really want to delete this medicine?</p>
      <button (click)="deleteMedicine()" class="delete-btn">Yes, Delete</button>
      <button (click)="closeDeleteModal()" class="cancel-btn">Cancel</button>
    </div>
  </div>
</div>
